<div class="category-nav-container">
    <ul class="category-list">
        <li *ngFor="let cat of categories" (mouseenter)="showMenu(cat)" (mouseleave)="hideMenu()"
            [class.active]="activeCategory === cat">


            <a [routerLink]="getCategoryLink(cat)" (click)="navigateToCategory(cat, $event)" class="category-link">
                {{ cat }}
                <i class="fas fa-chevron-down" *ngIf="hasMenu(cat)"></i>
            </a>

            <!-- Generic Mega Menu -->
            <div class="mega-menu" *ngIf="hasMenu(cat) && activeCategory === cat">
                <div class="menu-column" *ngFor="let columnData of getMenuColumns(cat)">
                    <h3>{{ columnData.title }}</h3>
                    <ul>
                        <li *ngFor="let item of columnData.items">
                            <a [routerLink]="getItemLink(cat, item)" (click)="navigateToItem(cat, item, $event)"
                                class="menu-item-link">
                                <ng-container *ngIf="isComplexItem(item); else simpleItem">
                                    {{ $any(item).name }} <span class="badge">{{ $any(item).badge }}</span>
                                </ng-container>
                                <ng-template #simpleItem>{{ item }}</ng-template>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="menu-column image-column" *ngIf="menus[cat].image || menus[cat].images">
                    <ng-container *ngIf="menus[cat].image; else multiImages">
                        <div class="promo-image-card">
                            <img [src]="menus[cat].image" [alt]="menus[cat].imageText">
                            <div class="promo-text">{{ menus[cat].imageText }}</div>
                        </div>
                    </ng-container>
                    <ng-template #multiImages>
                        <div class="multi-image-grid">
                            <div class="promo-image-card" *ngFor="let img of menus[cat].images">
                                <img [src]="img.url" [alt]="img.text" loading="lazy">
                                <div class="promo-text">{{ img.text }}</div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </li>
    </ul>
</div>